/* =============== Link Hover Effect =============== */

/* Base Code */

.linkHoverEffect {
  position: relative;
}

.linkHoverEffect:after {
  content: "";
  position: absolute;
  bottom: -4px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.linkHoverEffect:hover:after {
  left: -5%;
  width: 110%;
}

/* Variants */

.linkHoverEffectWhite:after {
  background-color: #fff;
}

.linkHoverEffectBlack:after {
  background-color: #242424;
}

.linkHoverEffectColor:after {
  background-image: linear-gradient(90deg, #FFB147 0%, #FF6C63 50%, #B86ADF 100%);
  height: 4px;
}

.linkHoverEffectColorCover:after {
  z-index: -1;
  background-color: #FFB147;
  height: 20px;
  bottom: 2px;
  left: -20px;
}

.darkTheme .linkHoverEffectColorCover:after {
  background-color: #B86ADF;
}