/* =============== Photo =============== */

.photoContent {
  height: fit-content;
  margin: 6vh 0 0 18vw;
}

.photoContent h1 {
  text-align: left;
  padding-top: 3vh;
  font-size: 76px;
}

.photoContent h2 {
  text-align: left;
  font-size: 32px;
}

.photoContent p {
  text-align: left;
  font-size: 20px;
  padding: 20px 0;
}

.photoContent h2 span {
  font-weight: 700;
  font-size: 18px;
  color: #FF6C63;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 4px;
  margin-right: 2vw;
}

.image-item {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  max-width: 100%;
  margin: 0;
}

.image-full{
  position: relative;
  max-width: 75vw;
  margin: 0 auto;
}

.image-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@media (max-width:1000px) {
  .image-grid{
    grid-template-columns: repeat(auto-fill, minmax(34%, 1fr));
  }
}

@media (max-width:768px) {
  .image-grid{
    grid-template-columns: repeat(auto-fill, minmax(51%, 1fr));
    align-items: center;
  }
  .photoContent {
    margin-left: 3vw;
    margin-right: 2vw;
  }
  .photoContent h1{
    font-size: 48px;
  }
   
}